html, body {
    margin: 0px;
    text-align: center;
    font-family: Roboto;
}

.home-page {
    /*grid prop*/
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    /*flex prop*/


}

.header {
    /*grid prop*/
    grid-column: 2 / 12;
    /*flex prop*/
    display: flex;
    justify-content: space-between;
    align-content: center;
    /*gen prop*/
}

.nav-menu {
    grid-column: 2 / 12;

}

.home-banner {
    grid-column: 1 / 13;

}

.brochure-enquiry {
    grid-column: 2 / 12;

    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

.brochure {
    grid-column: 1 / 2;

}

.brochure-items {
    list-style-type: none;

}

.mbaacca,
.bbaacca,
.bcomacca,
.mcomacca,
.acca,
.ca,
.cmaus,
.cmaindia {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    margin: 8px 0px;
    background-color: #ffe133;
    border-radius: 5px;
    height: 50px;
}

.coursetext {
    flex-basis: 35%;

}
.downloadbut {
    flex-basis: 35%;
    background-color: white;
    border-radius: 5px;
    align-self: stretch;
    padding-top: 15px;
}

.enquiry {
    grid-column: 3 / 4;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    margin: 16px;
    padding: 8px;

    background-color: #ffe133;
    border-radius: 5px;
}

.name, 
.mob,
.email,
.submit {
    margin: 8px;
    align-self: flex-start;
}

.contact {
    margin: 0px 8px;
}

input {
    width: 100%;
}

.contact {
    background-color: white;
    border-radius: 3px;
}

.footer {
    grid-column: 2 / 12;
    background-color: #0b3c5d;
    color: #fff;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin-right:30px;
    text-align: left;
    flex-basis: 33%;
}

.footer-logo {
 flex-basis: 33%;
}

.footer-contact {
    margin-left:30px;
    text-align: right;
}

.terms {
    grid-column: 2 / 12;
    color: #fff;

    display: flex;
    justify-content: space-between;
}

.header-logo > img {
    padding-top: 15px;
}

.header-contact {
    flex-basis: 35%;
}

.header-contact-items {
    /*flex prop*/
    display: flex;
    justify-content: space-between;
    align-content: center;

    list-style-type: none;
    padding-top: 15px;
}

.nav-menu-items {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    color: rgb(230, 230, 230);
    font-size: 20px;
    font-weight: bold;
}

.dark {
    background-color: #0b3c5d;
}
